<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="crane_x7_gazebo_ros2_control_settings"
    params="name
            name_joint_1
            name_joint_2
            name_joint_3
            name_joint_4
            name_joint_5
            name_joint_6
            name_joint_7
            name_joint_hand">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        <!-- <plugin>test_sstem</plugin> -->
      </hardware>

      <xacro:property name="control_mode" value="velocity"/>
      <xacro:property name="vmax" value="4.81710873"/>
      <xacro:property name="vmin" value="-4.81710873"/>

      <joint name="${name_joint_1}">
        <command_interface name="${control_mode}">
          <param name="min">${vmax}</param>
          <param name="max">${vmin}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${name_joint_2}">
        <command_interface name="${control_mode}">
          <param name="min">${vmax}</param>
          <param name="max">${vmin}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${name_joint_3}">
        <command_interface name="${control_mode}">
          <param name="min">${vmax}</param>
          <param name="max">${vmin}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${name_joint_4}">
        <command_interface name="${control_mode}">
          <param name="min">${vmax}</param>
          <param name="max">${vmin}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${name_joint_5}">
        <command_interface name="${control_mode}">
          <param name="min">${vmax}</param>
          <param name="max">${vmin}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${name_joint_6}">
        <command_interface name="${control_mode}">
          <param name="min">${vmax}</param>
          <param name="max">${vmin}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${name_joint_7}">
        <command_interface name="${control_mode}">
          <param name="min">${vmax}</param>
          <param name="max">${vmin}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${name_joint_hand}">
        <command_interface name="${control_mode}">
          <param name="min">${vmax}</param>
          <param name="max">${vmin}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

    </ros2_control>
  </xacro:macro>
</robot>
